<a href="https://colab.research.google.com/github/KonradSzkliniarz/Bootcamp/blob/master/4_Analiza_danych_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
pd.__version__

'1.0.5'

### Podstawowe struktury danych - Series

In [ ]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:
s = pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

### Uzupełnianie braków danych

np.nan - oznacza brak danych

In [ ]:
s = pd.Series(data=[3,np.nan,4,6], index=['a','b','c','d'], name='sample')

In [ ]:
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[True, False, False])

In [ ]:
s

0     True
1    False
2    False
dtype: bool

In [ ]:
s = pd.Series(data=np.arange(10,20),index=pd.date_range(start='20200101',periods=10))

In [ ]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [ ]:
s.dtypes

dtype('int64')

In [ ]:
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:
s = pd.Series(data=['Python','Java','SQL'],name='languages')

In [ ]:
s

0    Python
1      Java
2       SQL
Name: languages, dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
s.values

array(['Python', 'Java', 'SQL'], dtype=object)

In [ ]:
s.dtypes

dtype('O')

In [ ]:
s.shape

(10,)

In [ ]:
price = pd.Series(data={'Apple':200, 'CD Project':60,'Amazon':1900, 'KGHM':np.NAN})

In [ ]:
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price['CD Project']

60.0

In [ ]:
price[1]

60.0

In [ ]:
price.count()

3

In [ ]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [ ]:
price.sum()

2160.0

In [ ]:
price.min()

60.0

In [ ]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.nlargest(n=1)

Amazon    1900.0
dtype: float64

In [ ]:
price.nsmallest(n=1)

CD Project    60.0
dtype: float64

In [ ]:
price.rank()

Apple         2.0
CD Project    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
price.sort_values()

CD Project      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Project      60.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln = price.apply(lambda x: x * 3.8)

In [ ]:
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln

Apple          760.0
CD Project     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

## DATA FRAME

In [ ]:
df = pd.DataFrame(data=[12,12,32])

In [ ]:
df

    0
0  12
1  12
2  32

In [ ]:
df = pd.DataFrame(data=[12,12,32], index=['first','second','third'], columns=['col_1'])

In [ ]:
df

        col_1
first      12
second     12
third      32

In [ ]:
df = pd.DataFrame(data={'WIG20':['ORLEN','PKO BP'],
                        'mWIG40':['Amica','Playway']})

In [ ]:
df

    WIG20   mWIG40
0   ORLEN    Amica
1  PKO BP  Playway

In [ ]:
df = pd.DataFrame(data=[[12,12,32],[16,14,11]], index=['first','second'], columns=['col_1','col_2','col_3'])

In [ ]:
df

        col_1  col_2  col_3
first      12     12     32
second     16     14     11

In [ ]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [ ]:
df.index

Index(['first', 'second'], dtype='object')

In [ ]:
df.values

array([[12, 12, 32],
       [16, 14, 11]])

In [ ]:
df.dtypes

col_1    int64
col_2    int64
col_3    int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 144.0+ bytes

In [ ]:
df.describe()

           col_1      col_2      col_3
count   2.000000   2.000000   2.000000
mean   14.000000  13.000000  21.500000
std     2.828427   1.414214  14.849242
min    12.000000  12.000000  11.000000
25%    13.000000  12.500000  16.250000
50%    14.000000  13.000000  21.500000
75%    15.000000  13.500000  26.750000
max    16.000000  14.000000  32.000000

In [ ]:
df.describe().T

       count  mean        std   min    25%   50%    75%   max
col_1    2.0  14.0   2.828427  12.0  13.00  14.0  15.00  16.0
col_2    2.0  13.0   1.414214  12.0  12.50  13.0  13.50  14.0
col_3    2.0  21.5  14.849242  11.0  16.25  21.5  26.75  32.0

## SELEKCJA KOLUMN

In [ ]:
df

        col_1  col_2  col_3
first      12     12     32
second     16     14     11

In [ ]:
df.col_1

first     12
second    16
Name: col_1, dtype: int64

In [ ]:
df['col_1']

first     12
second    16
Name: col_1, dtype: int64

In [ ]:
type(df['col_1'])

pandas.core.series.Series

In [ ]:
df[['col_1']]

        col_1
first      12
second     16

In [ ]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [ ]:
df.columns = ['A','B','C']

In [ ]:
df

         A   B   C
first   12  12  32
second  16  14  11

In [ ]:
df.B

first     12
second    14
Name: B, dtype: int64

In [ ]:
df['D'] = df.A + df.C

In [ ]:
df

         A   B   C   D
first   12  12  32  44
second  16  14  11  27

In [ ]:
df.loc['first']

col_1    12
col_2    12
col_3    32
Name: first, dtype: int64

In [ ]:
df.iloc[0]

col_1    12
col_2    12
col_3    32
Name: first, dtype: int64

In [ ]:
df.loc['first','col_2']

12

In [ ]:
df.loc[:,'col_1']

first     12
second    16
Name: col_1, dtype: int64

In [ ]:
df.iloc[0,1]

12

In [ ]:
df.iloc[:,1]

first     12
second    14
Name: col_2, dtype: int64