<a href="https://colab.research.google.com/github/KonradSzkliniarz/Bootcamp/blob/master/template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('Hello mordo')

Hello mordo

In [0]:
import pandas as pd
import numpy as np

In [0]:
lista=np.arange(1,100,1)

In [0]:
df=pd.DataFrame(lista)

In [6]:
df.head(100)

     0
0    1
1    2
2    3
3    4
4    5
..  ..
94  95
95  96
96  97
97  98
98  99

[99 rows x 1 columns]

In [0]:
df.rename(columns={0:'Testowa'},inplace=True)

In [8]:
for record in df:
  zwrot=df['Testowa']*2
  print(zwrot)

0       2
1       4
2       6
3       8
4      10
     ...
94    190
95    192
96    194
97    196
98    198
Name: Testowa, Length: 99, dtype: int64

In [0]:
df['Dupa']=df['Testowa'].astype('str')+'hmmmm'

In [15]:
df.head(100)

    Testowa     Dupa
0         1   1hmmmm
1         2   2hmmmm
2         3   3hmmmm
3         4   4hmmmm
4         5   5hmmmm
..      ...      ...
94       95  95hmmmm
95       96  96hmmmm
96       97  97hmmmm
97       98  98hmmmm
98       99  99hmmmm

[99 rows x 2 columns]

In [0]:
lista=df['Dupa']

In [17]:
lista.astype('str')

0      1hmmmm
1      2hmmmm
2      3hmmmm
3      4hmmmm
4      5hmmmm
       ...
94    95hmmmm
95    96hmmmm
96    97hmmmm
97    98hmmmm
98    99hmmmm
Name: Dupa, Length: 99, dtype: object